@font-face {
	@include fontface(Gellix, Gellix-Thin, 200, normal);
}

@font-face {
	@include fontface(Gellix, Gellix-Light, 300, normal);
}

@font-face {
	@include fontface(Gellix, Gellix-Regular, 400, normal);
}

@font-face {
	@include fontface(Gellix, Gellix-Medium, 500, normal);
}

@font-face {
	@include fontface(Gellix, Gellix-SemiBold, 600, normal);
}

@font-face {
	@include fontface(Gellix, Gellix-Bold, 700, normal);
}

@font-face {
	@include fontface(Gellix, Gellix-ExtraBold, 800, normal);
}

@font-face {
	@include fontface(Gellix, Gellix-Black, 900, normal);
}
